*.root
*.lhe
*/*.root
*/*.lhe
*.npz
*.log
*.pyc
*/*.pyc
*.hdf5
*.parquet*
.*.*
__init__.py
crab_MC
crab_MC/*
*/crab_MC
*/crab_MC/*
crab_projects
crab_projects/*
*/crab_projects
*/crab_projects/*
*/crab_inference
*/crab_inference/*
*/config_dump.py
*/crab_*
*/crab_*/*
mychecks
mychecks/*
E2E-TauClassifier/qcd_aodsim_fullCaloHits.py
config_dump.py
